# Coursera 연습용

In [1]:

import types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share the notebook.
client_db1001bc972741d1b6bdf016e2643365 = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='lNhadCbv-53qITmXZiV4HNzOAh7fwKL07ZP93pIBmKOP',
    ibm_auth_endpoint="https://iam.cloud.ibm.com/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url='https://s3-api.us-geo.objectstorage.service.networklayer.com')

body = client_db1001bc972741d1b6bdf016e2643365.get_object(Bucket='myfirstproject-donotdelete-pr-bvxkfvq8hnqnui',Key='sample_data.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_1 = pd.read_csv(body)
df_data_1.head()

,date,value,amount_sell_10,amount_sell_9,amount_sell_8,amount_sell_7,amount_sell_6,amount_sell_5,amount_sell_4,amount_sell_3,...,amount_buy_3,amount_buy_4,amount_buy_5,amount_buy_6,amount_buy_7,amount_buy_8,amount_buy_9,amount_buy_10,total_sell_amount,total_buy_amount
0,2020-04-22,48850,66290,34228,5126,20542,6320,25126,14665,21210,...,14782,40000,43950,79193,18702,21392,13582,47015,209875,334545
1,2020-04-22,48950,25318,4994,11019,59155,33786,12235,18568,21735,...,18374,19681,33788,28038,41952,46458,87354,19442,232776,390117
2,2020-04-22,48750,59311,33253,6822,16499,12194,44669,18844,31197,...,27704,48192,53391,96503,33632,29295,16872,48804,306467,451390
3,2020-04-22,48850,19611,69588,33242,10696,16430,11894,49034,17966,...,66958,40779,61164,65813,105998,54357,50684,37037,290803,590258
4,2020-04-22,48800,67601,38396,10681,16377,13251,47389,21829,39044,...,46596,66186,68715,111821,54301,54704,37835,56024,304487,663471